.App {
  margin: 10vh 20vw;
}

.App-header {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

@media (max-width: 900px) {
  .App {
    margin: 5vh 10vw;
  }
}
