.Header {
  height: 35vh;
  display: flex; 
  flex-direction: row;
  justify-content: space-between;
  max-width: 800px;
  margin: 5vh auto;
}

.Header_logo-left {
  height: 35vh;
  margin-left: -25px;
}

.Header_question-icon {
  height: 8vh;
  margin: 10vh 18px;
  cursor: pointer;
}

@media (max-width: 900px) {
  .Header {
    height: 15vh;
  }

  .Header_logo-left {
    height: 15vh;
  }

  .Header_question-icon {
    height: 4vh;
    margin: 50px;
  }
}
