
@keyframes flash {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

.dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 0 5px;
  animation: flash 1.5s infinite;
  background-color: var(--main_pink);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--main_light-blue);
}
